.DS_Store
.idea/
.vscode/*

backend/HELP.md
backend/target/
!backend/.mvn/wrapper/maven-wrapper.jar
!backend/**/src/main/**/target/
!backend/**/src/test/**/target/

### IntelliJ IDEA ###
backend/.idea/
backend/*.iws
backend/*.iml
backend/*.ipr